body, html{
  height:100%;
  background: url('sea.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
button {
  border-radius: 8px;
  color: white;
  background-color: rgb(2, 54, 50);
  padding: 5px 10px 8px 10px;
  font-size: 16px;
}
button:hover {
  background-color: rgb(31, 226, 210);
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.slideDancer {
  height: 5%;
  width: 5%;
  border: 0;
  position:absolute;
}

.crabDancer {
  background: url('crab.png');
  background-size: 80px 100px;
  width:20%;
  height: 20%;
  border: 0;
  position:absolute;
  background-repeat: no-repeat;
}

.crabDancer.dancing {
  animation:spin 4s linear infinite;
}
@keyframes spin { 100% { transform:rotate(360deg); } }

.crabDancer.floating {
  animation:float 3s linear infinite;
}

@keyframes float {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(40px);
  }
  100%{
    transform: translateY(0px);
  }
}

.paused{
  animation-play-state: paused;
}

.slideDancer{
  position:absolute;
  width: 87px;
  height: 71px;
  border-radius: 55% 55% 45% 45%;
  background: linear-gradient(to bottom right, #FFAB59, #FF9B67);
  border: 0;
  z-index: 2;
}
.eye-left{
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  margin: 35px 35px 15px 15px;
}
.eye-right{
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  margin: 35px 35px 55px 55px;
}
.slideDancer.dancing {
  animation:slide 1s linear infinite;
}
@keyframes slide {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(40px);
  }
  100%{
    transform: translateX(0px);
  }
}
.slideDancer.floating {
  animation:float 4s linear infinite;
}